body {
    background-color: #16161d;
    margin: 0px 10vw;
}

.section1,
.section2 {
    border: solid 2px green;
    margin: 20px 0px;
}

.header {
    border: 2px solid red;
    padding: 16px;
    min-height: 3vh;
}

.page1,
.page2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 96vh;
}


.frontChild {
    border: blue 2px solid;
    width: 600px;
    height: 600px;
    flex: 0 1 auto;
    margin: 20px;
}

.section2 .frontChild {
        border: teal 2px solid;
        width: 600px;
        height: 600px;
        flex: 0 1 auto;
        margin: 20px;
}
